/*회색 배경*/
.grayBackground{
	background-color : #8E8E8E;
	color : #EEEEEE;
}
/*흰색 배경*/
.whiteBackground{
	background-color : #FFFFFF;
	color : black;
}
/*흰색 테두리*/
.whiteBorder{
	border : 2px white solid;
}
/*소제목*/
.smallTitle{
	background-color : #333333;
	color : white;
	font-size : 20px;
	font-weight : bold;
	padding : 10px;
	margin-bottom : 20px;
}
/*미디어 박스*/
.mediaBox{
	border-radius : 10px;
	overflow-y : scroll;
	padding-top : 10px;
	padding-bottom : 10px;
	border : 2px gray solid;
	height : 400px;
}
/*미디어 전체 파일*/
.media{
	margin-bottom : 30px;
}

.people{
	padding-top : 25px;
	padding-bottom : 25px;
}
/*그라디언트 png 파일*/
.gradientImage{
	background-image :  url('/resources/gradient.png');
	background-size : 100% 100%;
	height : 200px;
	width : 100%;
	font-weight : bold;
	color : #FFFFFF;
	text-shadow : 1px 1px #000000;
	position : absolute;
	left : 0;
	top : 0;
	z-index : 2;
	padding : 10px;
}
/*브리드짐 상단 로고*/
.logo{
	position : absolute;
	z-index : 2
}
/*그라디언트 배경*/
.gradientBackground{
	background : -webkit-linear-gradient(white, white, #8E8E8E);
	background : -o-linear-gradient(white, white, #8E8E8E);
	background : -moz-linear-gradient(white, white, #8E8E8E);
	background : linear-gradient(white, white, #8E8E8E);
}
/*투명 배경*/
.transparant{
	background-color : transparant;
}
/*갤러리 칸*/
.galleryBox{
	border-radius : 10px;
	overflow : hidden;
	padding : 0px;
	min-height : 200px;
	margin-bottom : 10px;
}
.galleryBox :hover{
	border-style : solid;
	border-color : white;
	border-width : 5px;
}

.first {
	min-height : 410px;
	height : 100%;
}
/*갤러리 판넬*/
.gallery{
	position : relative;
}
/*갤러리 삽입 이미지*/
.galleryImage{
	position : absolute;
	left : 0 ;
	top : 0 ;
	z-index : 1;
	width : 100%;
	min-height : 200px;
}

.warn {
	text-align: center;
	color: red;
}

a {
	color: black;
}

footer {
	padding-top : 20px;
  	padding-bottom : 20px;
}

footer>div {
	padding-left: 10px!important;
	padding-right: 10px!important;
}

footer img {
	text-align: center;
}
.mr {
  margin-right: 30px;
}

footer>div>div>div:nth-child(2) {
	padding-left: 30px!important;
	padding-right: 30px!important;
}
