
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
}

.mt {
  margin-top: 30px;
}

.highmt {
  margin-top: 100px;
}

.content {
  padding-left: 40px;
}

/*>는 바로밑의 태그에 적용시킬때*/
.list-option, .list-option>a { 
  color: #337ab7;
  font-size: 15px;
  padding : 10px 0!important;
}

/*띄어쓰기는 하위에 모두 해당되는 태그*/
.staff-panel img {
  width: 100%;
  height: 250px;
}

.introduce{
  padding-top : 40px;
}

.introduceList li{
  text-align : center;
  padding : 10px;
}

@media(max-width : 992px){
  .introduceList{
    display : none;
  }
}

.introduceList{
  padding : 20px;
  font-size : 20px;
  text-align : left;
  color : #000000;
}

.introduceList :hover{
  background-color : #8E8E8E;
  color : white;
}

.introduceList :active{
  background-color : #8E8E8E;
  color : white;
}
.grayBackground{
  color : white;
  background-color : #8E8E8E;
}

.smallTitle{
  background-color : #333333;
  padding : 10px;
  color : white;
  margin-top : 20px;
}

.contentBox{
  color : black;
  font-size : 15px;
  padding : 10px;
}

a {
  color : #000000;
}

.branchPanel{
  height : 100px;
  background-color : black;
  text-align : center;
}

footer{
  padding-top : 20px;
  padding-bottom : 20px;
}

body{
  padding : 0;
}