th {
    text-align: center;
}
td:first-child, th:first-child {
    width: 55px;
    text-align: center;
}
td:nth-child(3),th:nth-child(3) {
    width: 100px;
    text-align: center;
}
td:nth-child(4), th:nth-child(4) {
    width: 120px;
}
td:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 0;
}
td:nth-child(2):hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
td>a {
    color : #797979;
}
#main-content nav{
    text-align: center;
}
.panel-title {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.author {
    padding-right: 10px;
    border-right: 1px solid black;
}
.time {
    margin-left: 10px;
}
.answer {
    resize: none;
    height: 300px!important;
}
