#time-spec input[type="number"], #set-spec input[type="number"]{
	display: inline-block!important;
	width: auto!important;
	vertical-align: middle!important;
}
#time-spec .form-group {
	display: inline-block!important;
	margin-bottom: 0;
	vertical-align: middle;
}
#memo {
	resize : none;
}
#exercise-spec>div {
	margin-top: 15px;
}
#exercises {
	margin-top: 15px;
	margin-right: 20px;
}
.alert {
	display: none;
}
/* Calendar Events - Calendar.html*/
.exercise {
	cursor: pointer;
	display: inline-block !important;
	margin-bottom: 7px !important;
	margin-right: 7px !important;
	padding: 10px;
}

.fc-day:hover {
	background-color: blanchedalmond; /*색깔은 어떻게 하는게 좋을까?*/
	cursor: pointer;
}
.fc-day.selected {
	background-color: blanchedalmond; /*색깔은 어떻게 하는게 좋을까?*/
}
/*
.drop-after {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #ccc;
}

.fc-state-default, .fc-state-default .fc-button-inner {
	background: #f2f2f2;
}

.fc-state-active .fc-button-inner {
	background: #FFFFFF;
}

.remove {
	margin-left: 10px;
}*/
