#time-spec input[type="number"], #set-spec input[type="number"]{
	display: inline-block!important;
	width: auto!important;
	vertical-align: middle!important;
}
#time-spec .form-group {
	display: inline-block!important;
	margin-bottom: 0;
	vertical-align: middle;
}
#memo {
	resize : none;
}
#exercise-spec>div, .exercise-info-view {
	margin-top: 15px;
}
.exercise-info-view {
	text-align: right;
}
.exercise-info-view>p {
	font-size: 15px;
}
.alert {
	display: none;
}

/* 캘린더 안의 이벤트 커스텀 */
.fc-day:hover {
	background-color: blanchedalmond; /*색깔은 어떻게 하는게 좋을까?*/
	cursor: pointer;
}
.fc-day.selected {
	background-color: blanchedalmond; /*색깔은 어떻게 하는게 좋을까?*/
}
.fc-event {
	cursor: pointer;
	font-size: 1.35em;
	height: 20px;
}

@media (max-width: 768px) {
	.fc-center>h2 {
		font-size: 20px;
	}
	.fc-right {
		display: none;
	}
	.fc-left>button {
		display: none;
	}
}
