#time-spec input[type="number"], #set-spec input[type="number"]{
	display: inline-block!important;
	width: auto!important;
	vertical-align: middle!important;
}
#time-spec .form-group {
	display: inline-block!important;
	margin-bottom: 0;
	vertical-align: middle;
}
#exercise-spec>div {
	margin-top: 15px;
}