.table-responsive {
	border: 0;
}
.table-panel {
	margin : 10px 0px 10px 0px;
	height : 500px !important;
	overflow-y : scroll;
}
.table-panel thead {
	font-weight : bold;
	border-bottom-style : solid;
}